@import "tailwindcss";

@theme {

    --font-righteous: "Righteous", sans-serif;
    --font-russo: "Russo One", sans-serif;
    --font-curely: "curely", sans-serif;
    --font-patrick: "Patrick Hand", sans-serif;
    --font-dekko: "Dekko", sans-serif;
    --animate-diagonal: diagonal 40s linear infinite;

    @keyframes diagonal {
    
        0% {
            mask-position: 100% 0%;
        }
        100% {
            mask-position: 0% 100%;
        }
        
    }

}

@font-face {
    font-family: "curely";
    src: url("/fonts/curely.otf") format("opentype");
}


