@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght,HEXP@160..700,0..100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dekko&display=swap");
@import "tailwindcss";

@theme {

    --font-lilita: "Lilita One", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-josefin: "Josefin Sans", sans-serif;
    --font-changa-one: "Changa One", sans-serif;
    --font-changa: "Changa", sans-serif;
    --font-righteous: "Righteous", sans-serif;
    --font-russo: "Russo One", sans-serif;
    --font-alata: "Alata", sans-serif;
    --font-readex: "Readex Pro", sans-serif;
    --font-ysabeau: "Ysabeau Infant", sans-serif;
    --font-curely: "curely", sans-serif;
    --font-fredoka: "fredoka", sans-serif;
    --font-patrick: "Patrick Hand", sans-serif;
    --font-schoolbell: "Schoolbell", sans-serif;
    --font-dekko: "Dekko", sans-serif;
    --animate-diagonal: diagonal 40s linear infinite;

    @keyframes diagonal {
    
        0% {
            mask-position: 100% 0%;
        }
        100% {
            mask-position: 0% 100%;
        }
        
    }

}

@font-face {
    font-family: "curely";
    src: url("/fonts/curely.otf") format("opentype");
}


